<div *ngIf="favoritos.length > 0; else noFavorites" class="favorito-container">
  <h3>Pokémon Favoritos</h3>
  <ul>
    <li *ngFor="let pokemon of favoritos" class="pokemon-item">
      <img [src]="pokemon.sprites.front_default" alt="{{ pokemon.name }}" />
      <p>{{ pokemon.name }}</p>
      <button (click)="removePokemonFromFavorites(pokemon)">x</button>
    </li>
  </ul>
  <div class="navigation-buttons">
  </div>
</div>

<ng-template #noFavorites>
  <p class="no-pokemon">No tienes Pokémon favoritos aún.</p>
  <div class="navigation-buttons">
  </div>
</ng-template>
