.home-container {
    text-align: center;
    margin-top: 0px;
    animation: fadeIn 1.5s ease-out;
  }

  /* Animación para el fadeIn */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 2rem;
  }
  h1{
    font-size: 8rem;
    font-family: 'Jersey 10';
  }

  button {
  font-size: 2rem;
  padding: 0.5rem 1rem;
  background-color: #3ca2a2;
  color: white;
  border: none;
  border-radius: 8px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}