
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

.adivina-container {
    text-align: center;
    font-family: 'Jersey 10';
  }
  
  .pixelated {
    image-rendering: pixelated;
    width: 200px;
    height: 200px;
    filter: blur(400000px); /* Ajusta el nivel de difuminado */
  }


  